.comum {
    border: 08px solid #000;
    background-color: #FAFFFC;
    padding: 16px;
    margin: 16px;
    box-sizing: border-box;
    /*width: 360px;*/
    width: 300px;
    display: inline;
}

.bmw {
  float: left;
}

.uol {
    float: left;
    clear: right;
}

.ibm {
    float: left;
}

.g1 {
    float: left;
}

div img {
    width: 100%;
    height: 100%;
}